{% extends 'base.html' %}
{% load static %}


{% block title %} Add/Edit Supplier {% endblock %}
{% block icon %}
    <link rel="icon" href="">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_supplier.css' %}">
{% endblock %}


{% block header %}
    <h1>Supplier Management</h1>

    <!-- Add/Edit Supplier Form -->
    <h2>
        {% if edit_supplier %}
        Edit Supplier
        {% else %}
            Add New Supplier
        {% endif %}
    </h2>
{% endblock %}



{% block content %}
    <form class="custom-form" action="{% url 'add_supplier' %}" method="POST">
    {% csrf_token %}
    {% if edit_supplier %}
        <input type="hidden" name="supplier_id" value="{{ edit_supplier.supplier_id }}">
    {% endif %}

        <label for="supplier_code" class="form-label">Supplier Code:</label>
        <input type="text" id="supplier_code" class="form-input" name="supplier_code" value="{% if edit_supplier %}{{ edit_supplier.supplier_code }}{% endif %}" required><br>

        <label for="supplier_name" class="form-label">Supplier Name:</label>
        <input type="text" id="supplier_name" class="form-input" name="supplier_name" value="{% if edit_supplier %}{{ edit_supplier.supplier_name }}{% endif %}" required><br>

        <label for="supplier_address" class="form-label">Supplier Address:</label>
        <textarea id="supplier_address" class="form-input" name="supplier_address" required>{% if edit_supplier %}{{ edit_supplier.supplier_address }}{% endif %}</textarea><br>

        <label for="supplier_city" class="form-label">Supplier City:</label>
        <input type="text" id="supplier_city" class="form-input" name="supplier_city" value="{% if edit_supplier %}{{ edit_supplier.supplier_city}}{% endif %}" required><br>

        <label for="supplier_country" class="form-label">Supplier Country:</label>
        <input type="text" id="supplier_country" class="form-input" name="supplier_country" value="{% if edit_supplier %}{{ edit_supplier.supplier_country}}{% endif %}" required><br>

        <label for="supplier_postalCode" class="form-label">Supplier Postal Code:</label>
        <input type="text" id="supplier_postalCode" class="form-input" name="supplier_postalCode" value="{% if edit_supplier %}{{ edit_supplier.supplier_postalCode}}{% endif %}" required><br>

        <button type="submit" class="form-button">
            {% if edit_supplier %}
                Update

            {% else %}
                Add Supplier
            {% endif %}
        </button>

        {% if edit_supplier %}
        <button type="submit" name="delete_supplier" class="delete-button">Delete</button>
        {% endif %}
    </form>

    <h2>Available Suppliers</h2>
    <ul>
        {% for supplier in suppliers %}
            <li>
                {{ supplier.supplier_code }} - {{ supplier.supplier_name }}
                <a href="?supplier_id={{ supplier.supplier_id }}">Edit</a>
            </li>
        {% endfor %}
    </ul>

        <!-- Display Success or Error Messages -->
    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
    {% endif %}
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}


{% endblock %}